.article-container {
        max-width: 1000px;
        margin: 40px auto 10px;
        padding: 0 15px;
        }
     
#profile { 

  .portrait-title {
    h2 {
      text-align: center;
      font-size: 2rem;
    } 
  }
  
  @-webkit-keyframes slide-right {
      100% { left: 0; opacity: 1}
  }
  
  @keyframes slide-right {
      100% { left: 0; opacity: 1; }
  }
  
  @-webkit-keyframes slide-left {
      100% { right: 0; opacity: 1; }
  }
  
  @keyframes slide-left {
      100% { right: 0; opacity: 1; }
  }
  
  .network-icon {
    
    margin-top: 15px;
    padding: 5px;
    
    .fa-envelope {
      opacity: 0;
      -webkit-animation: grow 1s ease forwards;
              animation: grow 1s ease forwards;
      -webkit-animation-delay: 1s;
              animation-delay: 1s;
    }
    
    .fa-graduation-cap {
      opacity: 0;
      -webkit-animation: grow 1s ease forwards;
              animation: grow 1s ease forwards;
      -webkit-animation-delay: 1.25s;
              animation-delay: 1.25s;
    }
    
    .fa-github {
      opacity: 0;
      -webkit-animation: grow 1s ease forwards;
              animation: grow 1s ease forwards;
      -webkit-animation-delay: 1.5s;
              animation-delay: 1.5s;
    }
    
    .fa-researchgate {
      opacity: 0;
      -webkit-animation: grow 1s ease forwards;
              animation: grow 1s ease forwards;
      -webkit-animation-delay: 1.75s;
              animation-delay: 1.75s;
    }
    
    .fa-orcid {
      opacity: 0;
      -webkit-animation: grow 1s ease forwards;
              animation: grow 1s ease forwards;
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
    }
    
    @-webkit-keyframes grow {
        100% { opacity: 1; }
    }
    
    @keyframes grow {
        100% { opacity: 1; }
    } 
  }
}

.hero-title {
        font-size: 2.6rem;
        margin-top: 0;
        line-height: 1;
    }

.hero-lead {
        max-width: 768px;
        font-size: 1.3rem;
}

.wg-hero .btn-lg, .wg-hero .btn-group-lg > .btn {
        font-size: 1.1rem;
    }

.wg-hero .btn {
        padding: 0.6em 2.1em;
}

.dark .btn-primary, .dark .btn.btn-primary.active {
        color: white;
    }